#paineis-sobre {
    margin-top:20px;
}

html,
body{
    height: 100%;
}

header{
    background-image: url("../img/castelo.jpg");
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.topCasaFinaBanner{
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.depoimentos-titulo {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;
	}
}

@media(min-width: 992px) {
	.topCasaFina-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.topCasaFina-bannerWrapper {
		position: relative;
		height: 100%;
	}
}


